@use '../libs/mixins';
@use 'sass:map';

.products__item {    
    text-align: center;
    transition: all .25s ease;
}
/* Added modifier for Products */
.products__item--disabled {
    color: map.get(mixins.$colors, disabled-font-color);;
}
.products__img {
    width: 200px;
    margin-bottom: 15px;
    cursor: pointer;
}

.cart__btn__buy,.cart__btn__add  {
    padding-top: 10px;
    justify-self: center;
}

button {  
    border-radius: 25px;
	background-color: map.get(mixins.$colors, btn-color);
	color: map.get(mixins.$colors, white-color);
	padding: 8px 18px;width: 100px;
	vertical-align: bottom;
    //margin-bottom: 10px;
	//margin-left:20px;
	&:hover {
		border-color: map.get(mixins.$colors, black-color);
        background-color: map.get(mixins.$colors, btn-hover);
	}
    &.toggle { //Only for javascript functions purposes (not needed)
        background-color: cadetblue;
    }
}