@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900;1000;1200&family=Montserrat:ital@0;1&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/* Main width for all the web page */
/*
	Variable defined as map, to set various configurations regarding the same item.
*/
/* Default block configuration */
/* Default grid configuration */
/* Default font configuration */
/**-----------**/
html {
  /* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
  font-family: "Montserrat", Helvetica, sans-serif;
}

h1 {
  /* Approximately 2=32px *** 1.7vw=31.62px-19.28px *** 1.2rem=19.2px */
  font-size: clamp(1.2rem, 1.7vw, 2rem);
  font-weight: 600;
}

h2 {
  /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-16.031px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1.3rem);
  font-weight: 600;
}

h3 {
  /* Approximately 1.15rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
  font-size: clamp(1.1rem, 1.7vw, 1.15rem);
  font-weight: 600;
}

h4 {
  /* Approximately 1rem = 16px *** 1.7vw=16px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 600;
}

h5 {
  /* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px */
  font-size: clamp(0.9rem, 1.7vw, 0.9rem);
  font-weight: 600;
}

h6 {
  /* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
}

.products__item {
  text-align: center;
  transition: all 0.25s ease;
}

/* Added modifier for Products */
.products__item--disabled {
  color: #bbb9b9;
}

.products__img {
  width: 200px;
  margin-bottom: 15px;
  cursor: pointer;
}

.cart__btn__buy, .cart__btn__add {
  padding-top: 10px;
  justify-self: center;
}

button {
  border-radius: 25px;
  background-color: rgb(53, 47, 47);
  color: #fff;
  padding: 8px 18px;
  width: 100px;
  vertical-align: bottom;
}
button:hover {
  border-color: #000;
  background-color: rgb(105, 94, 94);
}
button.toggle {
  background-color: cadetblue;
}

.header {
  width: 100%;
  padding: 20px 50px;
  background-color: #333;
  display: flex; /* Default flex configuration */
  flex-direction: row; /* Default always will be row */
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* Basic styling for the main menu */
  /* Hide sub-menus by default */
  /* Show sub-menus on hover of the parent list item */
  /* Open with keyboard (accesibility) when the link receives focus and navigate inside */
}
.header div {
  display: flex; /* Default flex configuration */
  flex-direction: row; /* Default always will be row */
  justify-content: space-between;
}
@media screen and (max-width: 51.25rem) {
  .header {
    padding: 15px;
  }
}
.header .header__img {
  width: 100px;
}
@media screen and (max-width: 51.25rem) {
  .header .header__img {
    width: 60px;
  }
}
.header .header__i {
  width: 50px;
  cursor: pointer;
}
@media screen and (max-width: 51.25rem) {
  .header .header__i {
    width: 30px;
  }
}
.header .header__i--menu {
  /* Get filter background color for svg https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(72%) sepia(13%) saturate(1109%) hue-rotate(186deg) brightness(99%) contrast(91%);
}
.header .header__i__img {
  width: 80%;
}
.header .header__menu {
  width: 300px;
  z-index: 10;
  background: linear-gradient(#473a3a, #222);
  color: #fff;
  padding: 25px;
  box-sizing: border-box;
  height: 100%;
  position: fixed; /* Cart will hide and will show itself as menu */
  left: -100%; /* Hide cart */
  top: 100px; /* */
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.header .header__menu.show {
  left: 0px;
}
.header .header__menu img {
  filter: invert(100%);
  cursor: pointer;
  display: flex;
  justify-self: right;
}
@media screen and (max-width: 30rem) {
  .header .header__menu {
    width: 100%;
    top: 60px;
    box-shadow: none; /* since it will use all space we don't need box shadow */
  }
}
.header .vertical-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; /* Adjust as needed */
}
.header .vertical-menu li {
  transition: all 2.5s ease;
}
.header .vertical-menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(#000, #222);
  border-bottom: 1px solid #ddd;
}
.header .vertical-menu ul ul {
  max-height: 0; /* Hide menu (high value = 0) */
  overflow: hidden; /* Hide content while it is collapsed */
  opacity: 0; /* Transparent */
  transform: translateY(-4px); /* Slight upward shift */
  pointer-events: none; /* Avoid focus / hover while it is closed */
  transition: max-height 0.7s ease, opacity 0.6s ease, transform 0.6s ease; /* Slower effect by adjusting duration */
}
.header .vertical-menu li:hover > ul {
  /* Estado expandido */
  max-height: 500px; /* Adjust value if more items are added */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.header .vertical-menu li:focus-within > ul {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/**     CSS   **/
body {
  width: 100%; /* Assure the page reaches all screen size */
  /* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
  font-family: "Montserrat", Helvetica, sans-serif;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  padding: 70px 0;
  display: block;
  text-align: center;
  background-image: url("../../img/logo.jpg");
  background-repeat: no-repeat; /* To avoid repeat images when a width finishes */
  background-size: cover; /* set background value, can be express in Percentage */
  color: #fff;
  background-position-y: 60%; /* Move image vertically */
}
@media screen and (max-width: 30rem) {
  .banner {
    padding: 30px 0;
  }
}

.banner__title {
  width: 100%;
  /* Approximately 2=32px *** 1.7vw=31.62px-19.28px *** 1.2rem=19.2px */
  font-size: clamp(1.2rem, 1.7vw, 2rem);
  font-weight: 600;
}

.banner__description {
  width: 350px;
  margin: 0 auto; /* Position in the middle */
  /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-16.031px *** 1rem = 16px */
  font-size: clamp(1rem, 1.7vw, 1.3rem);
  font-weight: normal;
  opacity: 0.7;
}

.products {
  width: 80%; /* if we put fixed value, then products won't adapt to screen size, percentage skips that error it works with grid columns auto-fit value */
  margin: 0 auto;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  display: grid;
  /* auto-fill: expand columns to use all screen space
      auto-fit: Similar to auto-fill ** NEED MORE DETAILS ** 
      minmax: Min column size and to expand to 1 space fraction (max space if we have it) */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
@media screen and (max-width: 51.25rem) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 30rem) {
  .products {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.products__title {
  /* Approximately 1.1rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
  font-size: clamp(1.1rem, 1.7vw, 1.15rem);
  font-weight: 500;
  margin-bottom: 5px;
}

.products__price {
  /* Approximately 1.1rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
  font-size: clamp(1.1rem, 1.7vw, 1.15rem);
  font-weight: 300;
}
.products__price.red {
  color: #ec3204;
}
.products__price.green {
  color: #2bec04;
}

@media screen and (max-width: 51.25rem) {
  .products__img {
    width: 150px;
  }
}
@media screen and (max-width: 30rem) {
  .products__img {
    width: 100%;
    max-width: 200px; /* try to reach 100% but not more than 200px */
    margin-bottom: 10px;
  }
}

.products__item h3, .products__item p {
  cursor: pointer;
}
@media screen and (max-width: 30rem) {
  .products__item h3, .products__item p {
    padding: 0 10px;
  }
}

.cart {
  width: 500px;
  overflow-y: scroll;
  background-color: #fff;
  color: #000;
  padding: 25px;
  box-sizing: border-box;
  height: 85%;
  position: fixed; /* Cart will hide and will show itself as menu */
  right: -150%; /* Hide cart */
  top: 100px; /* */
  box-shadow: -19px -1px 22px -15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}
.cart.show {
  right: 0px;
}
@media screen and (max-width: 51.25rem) {
  .cart {
    width: 400px;
    top: 80px;
  }
}
@media screen and (max-width: 30rem) {
  .cart {
    width: 100%;
    top: 60px;
    box-shadow: none; /* since it will use all space we don't need box shadow */
  }
}

.cart__title {
  width: 100%;
  text-align: center;
  /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-17.7px *** 1.1rem = 17.6px */
  font-size: clamp(1.1rem, 1.7vw, 1.3rem);
  font-weight: 600;
  padding: 25px 0;
  box-sizing: border-box;
}
@media screen and (max-width: 30rem) {
  .cart__title {
    padding: 15px 0;
  }
}

.cart__item {
  border-bottom: 1px solid #333;
  display: flex; /* Default flex configuration */
  flex-direction: row; /* Default always will be row */
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}
@media screen and (max-width: 30rem) {
  .cart__item {
    flex-direction: column;
    align-items: center;
  }
}

.cart__img {
  width: 60px;
}
@media screen and (max-width: 30rem) {
  .cart__img {
    width: 100px;
  }
}

@media screen and (max-width: 30rem) {
  .cart__info {
    margin: 0;
  }
}

.cart__count {
  position: absolute;
  top: 20px;
  right: 60px;
  background: red;
  color: white;
}

.cart__item p:nth-child(3) {
  font-weight: 600;
}

.cart__delete {
  width: 25px;
  cursor: pointer;
}

.cart .cart__delete-img {
  width: 100%;
}

/**-----------**//*# sourceMappingURL=main.css.map */