/** Variables **/
$mainWidth: 100%; /* Main width for all the web page */
$fontColor:#6e6565; /* Main color for all the web page */
$bannerFontColor:#fff; /* Main color for banner section */
$disableFontColor:#bbb9b9; /* Main color for products disabled section */
$cartFontColor:#000; /* Main color for cart section */
$headerBackgroud:#333; /* Main color for banner section */
$cartBackgroud:#fff; /* Main background color for cart section */
$fontFamily: "Lexend",Arial, Helvetica, sans-serif;
/**-----------**/



/**  Extends  **/
/* Default box-sizing configuration */
%box-size {
    box-sizing: border-box; /* Merge padding and width to set the size including both measures */
}
/**-----------**/




