@use '../libs/mixins';
@use 'sass:map';

/**     CSS   **/
body {
    width: mixins.$mainWidth; /* Assure the page reaches all screen size */
    /* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px */
    @include mixins.fonts($weight: 300, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1rem);
    color: map.get(mixins.$font, font-color);
    font-family: map.get(mixins.$font, family);
    //margin: 0;
    @include mixins.boxSizing();
}

.banner {
    width: mixins.$mainWidth;
    padding: 70px 0;
    @include mixins.block();
    text-align: center;
    background-image: url("../../img/logo.jpg");
    background-repeat: no-repeat;           /* To avoid repeat images when a width finishes */
    background-size: cover;                 /* set background value, can be express in Percentage */
    color: map.get(mixins.$colors, white-color);
    background-position-y: 60%;             /* Move image vertically */
    @include mixins.breakpoint2(){
        padding: 30px 0;
    }
}
.banner__title {
    width: mixins.$mainWidth;
    /* Approximately 2=32px *** 1.7vw=31.62px-19.28px *** 1.2rem=19.2px */
    @include mixins.fonts($weight: 600, $minSize: 1.2rem, $prefValue: 1.7vw, $maxSize: 2rem);
    //margin: 10px;
}

.banner__description {
    width: 350px;
    margin: 0 auto; /* Position in the middle */
    /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-16.031px *** 1rem = 16px */
    @include mixins.fonts($weight: normal, $minSize: 1rem, $prefValue: 1.7vw, $maxSize: 1.3rem);
    opacity: 0.7;
}

.products {
    width: 80%; /* if we put fixed value, then products won't adapt to screen size, percentage skips that error it works with grid columns auto-fit value */
    margin: 0 auto;
    padding: 20px;gap: 20px;
    @include mixins.boxSizing;
    @include mixins.grid();
    @include mixins.breakpoint2(){
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.products__title {
    /* Approximately 1.1rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
    @include mixins.fonts($weight: 500, $minSize: 1.1rem, $prefValue: 1.7vw, $maxSize: 1.15rem);
    margin-bottom: 5px;
}
.products__price {
    /* Approximately 1.1rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px */
    @include mixins.fonts($weight: 300, $minSize: 1.1rem, $prefValue: 1.7vw, $maxSize: 1.15rem); 
    &.red { //**** Added just for testing purposes with functions of javascript ****
        color: #ec3204;
    }
    &.green { //**** Added just for testing purposes with functions of javascript ****
        color: #2bec04;
    } 
}

.products__img {
    @include mixins.breakpoint2(){
    width: mixins.$mainWidth;
    max-width: 200px; /* try to reach 100% but not more than 200px */
    margin-bottom: 10px;
}
}
.products__item h3,.products__item p {
    cursor: pointer;
    @include mixins.breakpoint2(){
        padding: 0 10px;
    }        
}

.cart {
    width: 500px; 
    overflow-y: scroll;
    background-color: map.get(mixins.$colors, white-color);
    color: map.get(mixins.$colors, black-color);
    padding: 25px;
    @include mixins.boxSizing();
    height: 85%;
    position: fixed; /* Cart will hide and will show itself as menu */
    right: -100%;     /* Hide cart */
    top: 100px;      /* */
    box-shadow: -19px -1px 22px -15px rgba(0,0,0,0.30);
    transition: all .50s ease;
    &.show { //Class used to show cart with javascript function
        right: 0px;
    }
    @include mixins.breakpoint2(){
        width: mixins.$mainWidth;
        top: 60px;
        box-shadow: none; /* since it will use all space we don't need box shadow */
    }
}
.cart__title {
    width: mixins.$mainWidth;
    text-align: center;
    /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-17.7px *** 1.1rem = 17.6px */
    @include mixins.fonts($weight: 600, $minSize: 1.1rem, $prefValue: 1.7vw, $maxSize: 1.3rem);
    padding: 25px 0;
    @include mixins.boxSizing();
    @include mixins.breakpoint2(){
        padding: 15px 0;
    }
}
.cart__item {
    border-bottom: 1px solid #333;
    @include mixins.flexbox();
    align-items: center;
    padding: 5px;
    @include mixins.boxSizing();
    @include mixins.breakpoint2(){
        flex-direction: column;
        align-items: center;
    }
}
.cart__img {
    width: 60px;
    @include mixins.breakpoint2(){
        width: 100px;
    }
}

.cart__info {
    @include mixins.breakpoint2(){
        margin: 0;
    }        
}

.cart__count {
    position: absolute;
    top: 20px;
    right: 60px;
    background: red;
    color: white;

}
.cart__item p:nth-child(3) {
    font-weight: 600;
}
.cart__delete {
    width: 25px;
    cursor: pointer;
}
.cart .cart__delete-img {
    width: mixins.$mainWidth;
}

@media (max-width: 820px) {

    .products {
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        
    }
    .products__img {
        width: 150px;        
    }
    .cart {
        width: 400px;
        top: 80px;        
    }
}

/**-----------**/